# Logs
logs
dev.log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.env
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Backend specific
backend/data/.venv/
backend/data/cves/
backend/data/datasets/
backend/data/hasil_pengujian/
*.pth
*.pkl
